# Intellij IDEA config files
.idea/
client/.idea/
client/cmake-build-debug/
client/cmake-build-debug-wsl/
client/cmake-build-debug/CMakeLists.txt
server/.idea/
server/cmake-build-debug/
server/cmake-build-debug/CMakeLists.txt
socketUtil/.idea/
socketUtil/cmake-build-debug/
socketUtil/cmake-build-debug/CMakeLists.txt
cmake-build-debug/
CMakeLists.txt

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
